﻿@using System.Collections
@*@model Vidly.ViewModels.MoviesViewModel*@
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table id="movies" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Movie</th>
        <th>Genre</th>
    </tr>
   
    </thead>
    
    <tbody>
    @*@foreach (var movie in Model.Movies)
    {
        <tr>
            <td style="font-weight: bold">
                
                @Html.ActionLink(movie.Name,"Edit", "Movies", new {id=movie.Id},null)

            </td>
                
            <td>@movie.Genre.Name</td>
                
            <td>
                <button data-movie-id="@movie.Id" class="btn btn-link js-movie-delete">Delete</button>
            </td>
        </tr>
    }*@
        
    </tbody>
    

</table>

@section scripts
{
    <script>

        $(document).ready(function() {

            var dataTable = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"                     
                    },
                    {
                        data: "genre.name"
                    }
                ]

            });
        });
    </script>


}




