﻿
@{
    ViewBag.Title = "New Rental Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Rental Form</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true" required type="text" value="" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label>Movies</label>
        <div class="tt-container">
            <input id="movie" name="movie" data-rule-atleastOneMovie="true" type="text" value="" class="form-control"/>
        </div>
    </div>
    @*This is a place holder to hold list of movies*@
    
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>
   
    <button class="btn btn-primary">Submit</button>

</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    
    <script>
        $(document).ready(function() {

            var vm = {
                movieIds:[]
            };
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%Query',
                    wildcard: '%Query'
                }
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight: true

            }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function(e, customer) {

                vm.customerId = customer.id;
            });


            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%Query',
                    wildcard: '%Query'
                }
            });

            $('#movie').typeahead({
                minLength: 3,
                highlight: true

            }, {
                name: 'movies',
                display: 'name',
                source: movies
            }).on("typeahead:select", function (e, movie) {

                $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");

                $("#movie").typeahead("val", "");

                vm.movieIds.push(movie.id);


            });

            //Added custom validation to check for a valid customer
            $.validator.addMethod("validCustomer",
                function() {

                    return vm.customerId && vm.customerId !== 0;
                }, "Please select a valid customer");

            //Added custom validation to check atleast one movie is selected
            $.validator.addMethod("atleastOneMovie",
                function() {

                    return  vm.movieIds.length > 0;

                }, "Please select atleast one movie");

            var validator=$("#newRental").validate({

               submitHandler: function () {

                    $.ajax({
                            url: "/api/MoviesRental",
                            method: "Post",
                            data: vm
                        })
                        .done(function () {
                            toastr.success("Rentals saved successfully.");

                            //reset the form
                            $("#customer").typeahead("val", "");
                            $("#movie").typeahead("val", "");
                            $("#movies").empty();

                            vm = { movieIds: [] };
                            //reset the validator
                            validator.resetForm();
                        })
                        .fail(function () {
                            toastr.error("Unexpected error occrured.");
                        });

                    return false;

                } 
            });

           


        })
    </script>
}

