﻿
@model Vidly.Models.Customer
@{
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Name: @Model.Name</p>
<ul>
<li>Membership Type: @Model.MembershipType.Name</li>
@if (Model.BirthDate.HasValue)
{
    <li>BirthDate: @Model.BirthDate.Value.ToShortDateString()</li>
}

</ul>

