﻿@*@model Vidly.ViewModels.CustomersViewModel*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("New Customer","New", "Customers",null, new {@class="btn btn-primary"})
</p>

@*@if (!Model.Customers.Any())
{
    <p>We dont have customers yet</p>
}
else
{*@
    
<table id="customers" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Customer</th>
        <th>Membership Type</th>
        <th>Delete</th>
    </tr>
    </thead>

        <tbody>
        @*@foreach (var customer in Model.Customers)
        {
            <tr>
                <td>
                    @Html.ActionLink(customer.Name, "Edit", "Customers", new {id = customer.Id}, null)
                </td>
                <td>
                    <p>@customer.MembershipType.Name</p>
                </td>
                
                <td>
                    <button data-customer-id="@customer.Id" class="btn btn-link js-delete">Delete</button>
                </td>
            </tr>
        }*@
        </tbody>


    </table>


@section scripts
{
    <script>
        $(document).ready(function () {


            var dataTable= $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function(data) {

                            return "<button class='btn-link js-delete' data-customer-id="+ data + ">Delete</button>";
                        }
                    }

            
            ]

        });

        $("#customers").on("click",
            ".js-delete",
            function() {

                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?",
                    function(result) {

                        if (result) {
                            $.ajax({
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "Delete",
                                success: function() {

                                    dataTable.row(button.parents("tr")).remove().draw();

                                }
                            });
                        }
                    });
            });

    });
    </script>
}
   



